*.log
*.zip
*.sql
*.cache
*.lock
.DS_Store

sunrise.php

node_modules

advanced-cache.php
db.php
object-cache.php
backup-db/
backups/
blogs.dir/
cache/
composer/
upgrade/
uploads/
/vendor/
w3tc-config/

plugins/debug*
plugins/developer/
plugins/theme-check/
plugins/wp-log-viewer/
plugins/which-template-file/